pur
bpython==0.17.1
bumpversion==0.5.3
coverage==4.5.2
fabric3<2.0
flake8==3.7.4
jedi==0.13.2
ipython==7.2.0
mypy==0.660
netifaces==0.10.9
paramiko==2.4.2
pylint==2.2.2
pytest==4.2.0
pytest-runner==4.2
pytest-cov==2.6.1
python-build==0.2.13
rope==0.11.0
ropevim==0.7.0
Sphinx==1.8.3
tmuxp==1.5.0
twine==1.12.1
watchdog==0.9.0
wheel==0.32.3
# https://stackoverflow.com/questions/543196/how-do-i-attach-a-remote-debugger-to-a-python-process
epdb==0.15.1
# pyup: ignore file
